* {
    margin              : 0;
    padding             : 0;
    box-sizing          : border-box;
    color               : #334e64;
    font-family         : 'Montserrat', sans-serif;
}

body {
    min-height          : 100vh;
    width               : 100%;
    background-image    : url(../media/patter.png);
    background-repeat: repeat;
}

.maincnt {
    min-height          : 90vh;
}

.bg-nav {
    background          : #b1b672;
    color               : white !important;
}

.profile-container {
    position            : relative;
    background-color    : #fff;
    width               : 350px;
    padding             : 100px 50px 40px;
    border-radius       : 12px;
    box-shadow          : 0 0 60px 5px rgba(0, 0, 0, 0.2);
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
}

.img-container {
    width               : 130px;
    height              : 130px;
    overflow            : hidden;
    background-color    : black;
    border              : 5px solid #b1b672;
    border-radius       : 50%;
    box-shadow          : 0 8px 55px #193d18;
    position            : absolute;
    top                 : 0;
    left                : 50%;
    transform           : translate(-50%, -50%);
}

.img-container img {
    width               : 100%;
    max-width           : 100%;
    transform           : scale(1.1);
}

.info {
    margin-bottom       : 12px;
}

.info i {
    margin-right        : 8px;
    font-size           : 1.1em;
}

.place {
    margin-bottom       : 40px;
}

.full-name, .head-table {
    font-size           : 1.4em;
    font-weight         : bold;
    letter-spacing      : 1px;
    color               : #b1b672;
}

.action {
    outline             : none;
    cursor              : pointer;
    color               : #fff;
    background-color    : #b1b672;
    border              : none;
    border-radius       : 50px;
    padding             : 12px 20px;
    width               : 80%;
    margin-top          : 25px;
    box-shadow          : 0px 8px 25px rgba(0, 0, 0, 0.2);
    text-transform      : uppercase;
    font-size           : 1em;
    font-weight         : bold;
    letter-spacing      : 2px;
    transition          : transform 0.3s, opacity 0.3s;
}

.downloadBtn {
    outline             : none;
    cursor              : pointer;
    color               : #fff;
    background-color    : #b1b672;
    border              : none;
    box-shadow          : 0px 8px 25px rgba(0, 0, 0, 0.2);
    text-transform      : uppercase;
    font-size           : .7em;
    font-weight         : bold;
    letter-spacing      : 2px;
    border-radius       : 50px;
    padding             : 8px;
    text-decoration     : none;
    transition          : transform 0.3s, opacity 0.3s;
}

.action:hover {
    transform           : scale(1.05);
    opacity             : 0.85;
}

.shadow {
    box-shadow          : 0 0 60px 5px rgba(0, 0, 0, 0.2);
}

.files {
    background-color    : #fff;
    border-radius       : 12px;
    min-height          : 20vh;
}

.ident {
    display: none !important;
}